@font-face {
	font-family: Roboto;
	src: url(assets/Roboto-Regular.ttf)
}

* {
	font-family: Roboto;
}

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: cadetblue;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
	border-bottom: 1px solid black;
}

header p {
	font-size: 20pt;
	color: aliceblue;
	text-shadow: 1px 1px 3px black;
}

#nav-filter {
	margin: 0 auto;
	padding: 1.5%;
	text-align: center;
}

#nav-filter select {
	margin: 3px 0.3em;
	padding: 0.4em;
	max-width: 200px;
}

#nav-filter option {
	font-size: 11pt;
	max-width: 200px;
}

#button-filter {
	margin: 0.4em;
	padding: 0.8em;
	width: 20vw;
	font-size: 14pt;
	font-weight: bold;
}