@font-face {
	font-family: Roboto;
	src: url(assets/Roboto-Regular.ttf)
}

* {
	font-family: Roboto;
}

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: cadetblue;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
	border-bottom: 1px solid black;
}

header p {
	font-size: 20pt;
	color: aliceblue;
	text-shadow: 1px 1px 3px black;
}

#nav-filter {
	margin: 0 auto;
	padding: 1.5%;
	text-align: center;
}

select {
	margin: 3px 0.3em;
	padding: 0.4em;
	max-width: 200px;
}

option {
	font-size: 11pt;
	max-width: 200px;
}

#button-filter {
	margin: 0.4em;
	padding: 0.8em;
	width: 20vw;
	font-size: 14pt;
	font-weight: bold;
}

#div-loading {
	text-align: center;
}

#loading-circle {
	border: 16px solid lightgray;
	border-radius: 50%;
	border-top: 16px solid cadetblue;
	width: 60px;
	height: 60px;
	/* -webkit-animation: spin 2s linear infinite; */
	animation: spin 1.5s linear infinite;
	margin: 0 auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#search-bar {
	display: inline-block;
	width: 30vw;
	padding: 0.8em;
	margin-left: 50%;
	transform: translateX(-50%);
}

#select-ranking {
	padding: 0.8em;
	float: right;
	margin-right: 5vw;
}

#select-ranking option {
	padding: 0.6em;
}

#p-search-status {
	text-align: center;
	margin-bottom: 25px;
}

#select-order {
	margin-left: 5vw;
}

#p-execution-time {
	text-align: right;
	margin-right: 5vw;
	color: gray;
	display: inline;
	float: right;
}

#search-results-table {
	width: 95vw;
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
}

#search-results-table th {
	text-align: center;
	min-width: 5em;
}

.innerRow {
	border-top: 1px solid lightgray;
}

.numberCell {
	padding-left: 1em;
	padding-right: 1em;
	text-align: right;
}

#th-mes {
	width: 100px;
}

.spacer {
	height: 100px;
}

